.table-checkbox {
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 6.67px;
    align-items: center;
    // position: sticky;
    background-color: white;
    left: 0;

    &__text {
        width: 9.42px;
        margin: 0 0 0 9px;
    }

    &__container {
        padding: 12px 8px 10px 23px;
    }
}