.radio-buttons__containter {
    display: flex;
    gap: 8px;
    height: 56px;
    align-items: center;
}

.radio-buttons__label {
    display: flex;
    min-width: 151px;
    color: #797981;
    font-family: "YS-Text-Regular", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.radio-buttons__wrapper {
    display: flex;
    gap: 24px;
}

.radio-button__container {
    display: flex;
    gap: 8px;
}

.radio-button__label {
    color: #1A1B22;
    font-family: "YS-Text-Regular", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
