.header-row {
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 8px 16px 8px;
    padding-right: 0;
    text-align: left;
    gap: 70px;

    &__header {
        min-width: 150px;
        width: 100%;
        white-space: nowrap;
    }

    &__text {
        @include subtitle-style($subtitle);
        white-space: nowrap;
    }

}