.sidebar-nav {
  position: fixed;
  left: -240px;
  top: 0;
  width: 250px;
  height: 100%;
  background: #1A1B22;
  transition: left 0.3s ease; // Плавный переход для анимации
  padding: 84px 0 0 53px;
  z-index: 1000;
  margin: 64px 0 0 0;

  &_open {
    left: 0; // Когда меню открыто, перемещаем его на 0px от левого края
  }

  &__container {
    padding: 0;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    // a {
    //   display: block;
    //   color: #fff;
    //   padding: 10px;
    //   text-decoration: none;
    //   transition: color 0.3s;

    //   &:hover {
    //     color: #f1f1f1;
    //   }
    // }
  }

  &__link {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #f1f1f1;
    }
  }

  &__separator {
    height: 1px;
    background: #333; // Пример стиля для разделителя
    margin: 20px 0; // Пример отступа
  }

  &__menu-btn {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 100; // Убедитесь, что кнопка находится над другими элементами
    color: #333;
    background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: color 0.3s;

    &:hover {
      color: #fff;
      background: #333;
    }
  }
}
