@import '../../styles/typography';
@import '../../styles/variables';

.ambassador-table__container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
}

.ambassador-table__selection-count {
  margin: 32px 0 24px 0;
  font-family: $font-caption-regular;
  color: $color-black-500;
  font-size: 13px;
  line-height: 16px;
}

.ambassador-table__scroll-container {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 638px;
  min-height: 638px;
  position: relative;
  z-index: 0;
  width: 100%;
}

.ambassador-table {
  min-width: 1312px;
  width: 100%;
  border-collapse: collapse;
}

.ambassador-table__head {
  border-bottom: 1px solid $color-black-300;
  font-family: $font-body2-medium;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0 1.5px 6px 0 rgba(176, 190, 197, 0.3);
}

.ambassador-table__header {
  border-bottom: 1px solid $color-black-300;
  font-family: $font-body2-medium;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  white-space: nowrap;
  text-align: start;
  height: 48px;
  box-sizing: border-box;
  padding: 0 0 3px 24px;
  min-width: 200px;
  // width: 100%;

  &:nth-child(1) {
    padding: 0 0 0 8px;
    min-width: 10px;
  }

  &:nth-child(2) {
    padding: 0 0 0 19px;
    min-width: 30px;
  }
}

.ambassador-table__cell {
  font-family: $font-body2-regular;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: start;
  height: 48px;
  box-sizing: border-box;
  padding: 14px 24px;
  border-bottom: 1px solid $color-black-100;
}

.ambassador-table__cell-link {
    text-decoration: none;
    font-family: $font-caption2-regular;
    font-size: 13px;
    line-height: 16px;
    color: $color-purple;
    opacity: 1;
    transition: opacity 1ms ease;

    &:hover {
        opacity: 0.8;
    }
}

.ambassador-table__cell:nth-child(1),
.ambassador-table__cell:nth-child(2) {
  padding: 0 0 0 8px;
  min-width: 20px;
  width: 20px;
}

.ambassador-table__cell:nth-child(2) {
  padding-left: 19px;
}

.ambassador-table__cell:not(:nth-child(1)):not(:nth-child(2)) {
  min-width: 200px;
  width: auto;
}

.ambassador-table__cell__button-edit {
  background-image: url('../../assets/bi_three-dots-vertical.svg');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
}

.ambassador-table__cell__edit {
  background: white;
  position: sticky;
  right: 0;
  z-index: 0;
  cursor: pointer;
  box-shadow: 0 4px 6px 0 rgba(176, 190, 197, 0.3);
  max-width: 50px;
}

.ambassador-table__header__button-settings {
  background-image: url('../../assets/settingsIcon.svg');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
}

.ambassador-table__head th:last-child {
  width: 50px; /* Устанавливаем ширину заголовка столбца */
  min-width: 50px; /* Устанавливаем минимальную ширину заголовка столбца */
}

/* Стиль для каждой ячейки в столбце с кнопкой редактирования */
.ambassador-table__body td:last-child {
  width: 50px; /* Устанавливаем ширину ячеек */
  min-width: 50px; /* Устанавливаем минимальную ширину ячеек */
  padding: 14px 8px; /* Немного отрегулируем padding для содержимого */
}

.ambassador-table__head th.edit-column,
.ambassador-table__body td.edit-column {
  width: 20px !important;
  min-width: 20px !important;
  padding: 8px 8px !important;
  position: sticky;
  right: 0;
  background: $color-white;
  z-index: 10;
  box-shadow: 0 4px 6px 0 rgba(176, 190, 197, 0.3);
}

// Пагинатор стили  ываы
.paginator {
  display: flex;
  list-style-type: none;
  align-items: center;
}

/* Стили для каждой кнопки (предыдущая, номера страниц, следующая) */
.paginator__item {
  margin: 0 4px;
  display: flex;
}

/* Стили для ссылок внутри кнопок */
.paginator__link {
  padding: 8px 12px;
  border: 1px solid #000; /* измените на нужный цвет рамки */
  text-decoration: none;
  color: #000; /* измените на нужный цвет текста */
  background-color: #fff; /* измените на нужный фоновый цвет */
  border-radius: 4px; /* скругление углов */
}

/* Стили для активной страницы */
.paginator__link--active {
  background-color: #000; /* измените на нужный фоновый цвет активной страницы */
  color: #fff; /* измените на нужный цвет текста активной страницы */
}

/* Стили для элемента "..." */
.paginator__item--break {
  cursor: default;
}

/* Дополнительные стили для наведения на ссылки, если нужно */
.paginator__link:hover {
  background-color: #eee; /* измените на нужный фоновый цвет при наведении */
}
