@import "../../styles/typography";
@import "../../styles/variables";

.ambassadors-page {
  height: 100%;
  width: 100%;
}

.pagination {
  padding: 20px 32px;
  display: flex;
  /* justify-content: center; */
  justify-content: flex-end;
  /* border-top: 1px solid $color-black-100; */
  border-top: 1px solid pink;
  background-color: white;
  align-items: center;
  list-style: none;
}

.page-item {
  margin-left: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: $font-body2-medium; */
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;

  border-color: rgba(221, 224, 228, 1);
  border-radius: 6px;
  border-style: none;
  border-width: 1px;
  background-color: white;
}

.page-link {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active {
  border-style: none;
  background-color: black;
  color: white;
}

.page-button_active {
  border-style: none;
}

.previous-page-item,
.next-page-item {
  border-color: #dde0e4;
  border-style: solid;
}
