@import '../shared/variables.scss';
@import '../styles/variables.scss';
@import '../styles/typography.scss';
@import '../shared/mixins.scss';

.input__container {
	display: flex;
	flex-direction: column;
	padding: 0;
	text-transform: none;
	width: calc(424px - (24px*2));
}

.input__label {
	@include input-label-style($input-label);
}

.input__error-container {
	margin-top: 2px;
	height: 12px;
	display: block;
}

.input__error {
	margin: 0;
	font-family: "YS-Text-Regular", "Arial", sans-serif;
	font-size: 11px;
	font-weight: 400;
	line-height: 12px;
	text-align: left;
	display: block;
	color: $color-red;
}

.input {
	@include input-style($input);
	display: flex;
	margin: 0;
	margin-top: 8px;
	padding: 10px 12px;
	font-family: $font-body2-regular;
	width: calc(100% - (12px*2));
	align-items: flex-start;
}

.input::placeholder {
    font-family: $font-body2-regular;
	color: $color-black-900;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.input:focus {
	outline: 1px solid $color-blue;
	text-transform: none;
}

.input-error {
	outline: 1px solid $color-red;
}