$YSTextMedium: 'YS-Text-Medium';

.filter-button {
    padding: 8px 15px 8px 33px;
    border: 1px solid #1D6BF3;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 15px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.1s ease, border-color 0.1s ease, color 0.1s ease;
  
    &:hover {
      background-color: #1D6BF3;
      .filter-button__span {
        color: #fff;
      }
    }
  
    &:active {
      background-color: #5A9BFF;
      border-color: transparent;
      .filter-button__span {
        color: #fff;
      }
    }
  
    &:focus {
      border-color: #5A9BFF;
      background-color: #5A9BFF;
      .filter-button__span {
        color: #fff;
      }
    }
}

.filter-button__span {
    color: #1D6BF3;
    font-family: $YSTextMedium;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 0 10px;
    transition: color 0.2s ease;
}
