@import '../../styles/variables';
@import '../../styles/typography';

.mailing-button {
    margin-right: 14px;
    margin-top: 5px;
    padding: 9px 15px 9px 33px;
    border: 1px solid $color-blue-main;
    background-color: $color-white;
    background-image: url('./assets/envelopeBlue.svg');
    background-repeat: no-repeat;
    background-position: 15px 9px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.1s ease, border-color 0.1s ease, color 0.1s ease;
    width: 123px;
    height: 40px;
    
    &:hover, &:active, &:focus {
      background-color: $color-blue-main;
      background-image: url('./assets/envelopeWhite.svg');
      border-color: $color-blue-main;
      .mailing-button__span {
        color: $color-white;
       }
    }

    &:active {
        background-color: $color-blue;
    }
}

.mailing-button__span {
    color: $color-blue-main;
    font-family: $font-body2-medium;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 0 10px;
    transition: color 0.2s ease;
}
