@import '../../styles/typography';
@import '../../styles/variables';

.main {
  padding: 0 0 0 64px;
}

.navigation-tabs {
    padding: 40px 0 0 31px;
    max-width: 1856px;
    margin: 0 auto;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $color-black-300;
  }

  &__item {
    margin: 0;
    padding: 0 0 10px 0;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    margin: 0;
    padding: 0 10px 9.5px 10px;
    text-decoration: none;
    font-family: $font-h3-regular;
    font-size: 20px;
    line-height: 24px;
    color: $color-black-500;
    font-weight: 400;
    transition: color 0.3s ease;
    position: relative;

    .navigation-tabs__link-count {
        color: $color-blue-main;
        border-radius: 10px;
        padding: 0;
        margin: 0 0 0 2px;
        font-family: $font-body2-medium;
        font-size: 14px;
        line-height: 18px;
        display: inline-block;
        text-align: center;
        vertical-align: top;
    }

    &.active {
      font-family: $font-h3-medium;
      color: $color-black-900;
      border-bottom: 3px solid $color-black-900;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }

    &:hover {
      color: $color-black-900;
    }
  }
}
