@import '../../styles/typography';
@import '../../styles/variables';

.main {
  padding: 41.7px 0 0 96px;
}

.navigation-tabs {
    max-width: 1312px;
    width: 100%;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $color-black-300;
  }

  &__item {
    margin: 0; // Расстояние между элементами списка
    padding: 0 0 10px 0;

    &:first-child {
      margin-left: 0; // У первого элемента списка нет левого отступа
    }
  }

  &__link {
    margin: 0;
    padding: 0 10px 9.5px 10px;
    text-decoration: none; // Убираем подчеркивание
    font-family: $font-h3-regular;
    font-size: 20px; // Размер шрифта
    line-height: 24px;
    color: $color-black-500; // Цвет текста
    font-weight: 400; // Насыщенность шрифта
    transition: color 0.3s ease; // Плавный переход цвета
    position: relative;

    .navigation-tabs__link-count {
        color: $color-blue-main;
        border-radius: 10px;
        padding: 0;
        margin: 0 0 0 2px;
        font-family: $font-body2-medium;
        font-size: 14px;
        line-height: 18px; // Высота строки для вертикального центрирования текста
        display: inline-block; // Элемент рядом с названием вкладки
        text-align: center; // Выравнивание текста по центру
        vertical-align: top;
    }

    &.active {
      font-family: $font-h3-medium;
      color: $color-black-900; // Цвет текста для активной вкладки
      border-bottom: 3px solid $color-black-900;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }

    &:hover {
      color: $color-black-900; // Цвет текста при наведении
    }
  }
}
