@import '../../styles/typography';
@import '../../styles/variables';

.content-table__scroll-container {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 643px;
  min-height: 643px;
  margin: 30px 0 0 0;
}

.content-table {
  min-width: 1312px;
  width: 100%;
  border-collapse: collapse;

  &__links-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__head {
    border-bottom: 1px solid $color-black-300;
    font-family: $font-body2-medium;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-align: left;
  }

  &__header {
    border-bottom: 1px solid $color-black-300;
    font-family: $font-body2-medium;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    padding: 0 0 0 10px;
    min-height: 48px;
    height: 100%;

    &:nth-child(1) {
      background-color: $color-white;
    }

    &:nth-child(3) {
      border-right: 1px solid $color-black-100;
    }

    &:nth-child(5) {
      border-right: 1px solid $color-black-100;
    }

    &--sticky {
      position: sticky;
      left: 0;
      z-index: 9;
      background-color: $color-white;
    }
  }

  &__row {
    background-color: $color-white;
    height: 48px;
    box-sizing: border-box;
    padding: 0;
  }

  &__cell {
    padding: 0 0 0 10px;
    height: 64px;
    box-sizing: border-box;
    border-bottom: 1px solid $color-black-100;
    font-family: $font-body2-regular;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;

    &:nth-child(3) {
      border-right: 1px solid $color-black-100;
    }

    &:nth-child(5) {
      border-right: 1px solid $color-black-100;
    }

    &--sticky {
      position: sticky;
      left: 0;
      z-index: 10;
      background-color: $color-white      
    }

    &-link {
      margin-right: 10px;
      padding: 0;
      color: $color-blue;
      text-decoration: none;
      display: flex;
      align-items: center;
      
      &:hover {
        text-decoration: underline;
      }
      &:visited {
        color: $color-purple;
      }
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__link-span {
    width: 16px;
    height: 16px;
    background-image: url('../../assets/linksIcon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    margin-right: 8px;
  }
}


