@import '../../styles/typography';
@import '../../styles/variables';

.table-content-grid {
  display: grid;
  grid-template-columns: repeat(5, auto) auto; // Последний столбец "После Гайда" может расширяться.
  grid-auto-rows: minmax(min-content, max-content);
  overflow-x: auto;
  overflow-y: auto;
  max-height: 643px;
  min-height: 643px;
  margin: 30px 0 0 0;
}

.table-content-grid__header, .table-content-grid__row {
  display: contents;
}

.table-content-grid__column {
  padding: 8px;
  background-color: $color-white;
  border-bottom: 1px solid $color-black-300;
  font-family: $font-body2-medium;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;

  display: flex;
  overflow-x: visible;
  min-width: max-content;

  &:nth-child(3) {
    border-right: 1px solid $color-black-100;
  }

  &:nth-child(5) {
    border-right: 1px solid $color-black-100;
  }
}

.table-content-grid__cell {
  display: flex;
  overflow-x: visible;
  min-width: max-content;
  padding: 0 8px 0 8px;
  background-color: $color-white;
  border-bottom: 1px solid $color-black-100;
  font-family: $font-body2-regular;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  align-items: center;
  min-height: 64px;
  height: 100%;
  box-sizing: border-box;

  &:nth-child(3) {
    border-right: 1px solid $color-black-100;
  }

  &:nth-child(5) {
    border-right: 1px solid $color-black-100;
  }
}

.table-content-grid__cell--after-guide {
  display: flex;
  overflow-x: visible;
  min-width: max-content;
}

.table-content-grid__afterguide-item {
  padding: 0 8px;
  white-space: nowrap;
}
