// Основные цвета
$color-black-900: #1A1B22;
$color-black-500: #797981;
$color-black-300: #B5B5B7;
$color-black-100: #DDE0E4;
$color-grey: #F9FAFB;
$color-white: #FFFFFF;

$color-blue: #5A9BFF;
$color-blue-main: #1D6BF3;
$color-blue-bg: #F1F6FF;

$color-red: #FF0200;

// Дополнительные цвета
$color-green: #87CC9E;
$color-purple: #7F67D2;
$color-orange: #FFCE92;

$color-green-light: #C2E5CE;
$color-purple-light: #CCC2ED;
$color-orange-light: #FFE1BD;
$color-rose: #FFDDE5;
$color-yellow: #FFF9D3;
$color-pink: #FFBFFD;
$color-brown: #A99175;
$color-blue-light: #ACCCFF;

$color-shadow: #B0BEC54D;
