
@import '../../../../styles/typography';
@import '../../../../styles/variables';

$caretHoverImagePath: '../assets/AmbAddDropdownCaretHover.svg';

.dropdown {
  position: relative;
  font-family: $font-body2-regular;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $color-black-500;
  width: fit-content;
  border-radius: 4px;
  // background-color: $color-white;

  &__input {
    padding: 10px 40px 10px 11px;
    // background-color: $color-white;
    border: 1px solid $color-black-100;
    border-radius: 4px;
    text-align: left;
    outline: none;
    cursor: pointer;
    background-image: url('../../assets/dropdownCaretGrey.svg');
    background-repeat: no-repeat;
    background-position: right 11px center;
    background-size: 24px 24px;
    color: $color-black-500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: fit-content; // check

    &_active {
      color: $color-black-900;
      background-image: url('../../assets/dropdownCaretBlack.svg');
    }

    &::placeholder {
      font-size: 14px;
      font-weight: 400;
      font-family: $font-body2-regular;
      color: $color-black-500;
    }
  }

  &__list {
    position: absolute;
    min-width: 98%;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 6px rgba(176, 190, 197, 0.3);
    border: 1px solid $color-black-300;
    border-radius: 4px;
    background-color: $color-white;
    font-family: $font-body2-regular;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: $color-black-900;
    max-height: 216px;
    overflow-y: auto;
    z-index: 1;
  }

  &__item {
    margin: 0;
  }

  &__button {
    text-align: left;
    width: 100%;
    padding: 8px 12px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #e9e9e9;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(0,123,255,.5);
    }

    &_selected {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // background-color: $color-blue-bg;
      // color: #000;


      &::after {
        content: url('../../assets/checkedImg.svg');
        width: 16.59px;
        height: 11.54px;
        margin-left: 10px;
      }
    }
  }
}

.green {
  background-color: #C2E5CE;
}
.peach {
  background-color: #FFE1BD;
}
.blue {
  background-color: #ACCCFF;
}
.gray {
  background-color: #DDE0E4;
}
