$font-family: (
    'YS Text',
    Helvetica,
    Arial,
    sans-serif
);

$font-family-regular: (
    'YS Text Regular',
    Helvetica,
    Arial,
    sans-serif
);

// Font weights
$font-weight-normal: 400;
$font-weight-regular: 500;

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

$subtitle: (
    margin: 0,
    padding: 0,
    font-family: $font-family,
    font-weight: $font-weight-regular,
    // font-weight: 500,
    font-size: 14px,
    line-height: 143%,
    color:#1A1B22,
);

$text: (
    margin: 0,
    padding: 0,
    font-family: $font-family,
    font-weight: $font-weight-normal,
    // font-weight: 400,
    font-size: 14px,
    line-height: 143%,
    color:#1A1B22,
);

// Ambassador Page
$bordered-button: (
    font-family: $font-family-regular,
    font-weight: $font-weight-regular,
    font-size: 14px,
    line-height: 20px,
    color: #1D6BF3,
    border: 1px solid #1D6BF3,
    outline: none,
    background-color: transparent,
    cursor: pointer,
    border-radius: 6px,
);

$blue-button: (
    font-family: $font-family-regular,
    font-weight: $font-weight-regular,
    font-size: 14px,
    line-height: 20px,
    color: #FFF,
    text-align: center,
    border: none,
    outline: none,
    background-color: #5A9BFF,
    cursor: pointer,
    border-radius: 6px,
);

$input: (
    font-family: $font-family-regular,
    font-weight: $font-weight-normal,
    font-size: 14px,
    line-height: 20px,
    color: #1A1B22,
    border: 1px solid #c9d1e5,
    border-radius: 4px,
);

$input-label: (
    font-family: $font-family-regular,
    font-weight: $font-weight-normal,
    color: #797981,
    text-transform: none,
    font-size: 14px,
    line-height: 20px,
)