@import '../../../styles/_typography.scss';
@import '../../../styles/variables';

// todo 
// check if the text style is correct
.page-button {
    margin-left: 4px;
    width: 40px;
    height: 40px;
    background-color: $color-white;
    color: $color-black-900;
    font-family: $font-body2-medium;
    // font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;

    border-color: rgba(221, 224, 228, 1);
    border-radius: 6px;
    border-style: none;
    border-width: 1px;

    background-repeat: no-repeat;
    background-size: 6px 12px;
    background-position: center;
    cursor: pointer;

}

.page-button_left {
    border-style: solid;
    background-image: url('../assets/caret-left.png');
}

.page-button_right {
    border-style: solid;
    background-image: url('../assets/caret-right.svg');
}

.page-button_active {
    background-color: rgba(26, 27, 34, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
}