@import '../shared/variables.scss';
@import '../styles/variables';
@import '../shared/mixins.scss';
@import '../shared/normalize.css';
@import '../vendor/fonts.css';
@import '../modules/Table/Table.scss';
@import '../modules/TableHeaders/TableHeaders.scss';
@import '../modules/TableRow/TableRow.scss';
@import '../modules/TableCheckbox/TableCheckbox.scss';
@import '../modules/TableSettings/TableSettings.scss';
@import '../modules/TelegramCell/TelegramCell.scss';
@import '../UI/Checkbox/Checkbox.scss';

body {
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 1920px;
  margin: 0 auto;
  min-width: 1440px;
}

.page {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

#root {
  padding: 0;
  max-width: 1920px;
}