.body {
  background-color: #1A1B22;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);