@import '../vendor/normalize.css';
@import '../vendor/fonts.css';

body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.page {
  margin: 0 auto;
  font-family: 'YS Text', 'Arial', sans-serif;
  min-width: 320px;
  max-width: 1920px;
}

#root {
  padding: 0;
}