@import '../vendor/normalize.css';
@import '../vendor/fonts.css';

body {
  background-color: #1A1B22;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}