@import '../../styles/typography';
@import '../../styles/variables';

.contact-cell {
  display: flex;
  flex-direction: row;
  align-items: start;

  &__icon {
    display: flex;
    width: 24px;
    height: 24px;
    margin: 0 8px 0 0;
  }

  &__text {
    display: flex;
    font-family: $font-body2-regular;
    font-size: 14px;
    line-height: 20px;
    color: $color-black-900;
    padding: 0;
    margin: 0;
  }
}

// .сell {
//     padding: 0;
//     margin: 0;
//     display: flex;
//     gap: 9px;
//     box-sizing: border-box;
//     width: 100%;


//     &__icon {
//         height: 16px;
//         width: 16px;
//     }

//     &__text {
//         @include text-style($text);
//     }
// }
