.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 64px;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
}

.header__logo {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 0;
}

.header__user-content {
    display: flex;
    flex-direction: row;
    /* padding: 0 52px 0 0; */
    min-height: min-content;
}

.header__user-content_image {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 4px 14px 0 0;
}

.header__user-content_title {
    display: flex;
    flex-direction: column;
    padding: 4px 0 0 0;
    align-items: flex-start;
}

.header__user-content_title_name {
    color: #fff;
    font-family: 'YS Text';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

.header__user-content_title_position {
    color: #B5B5B7;
    font-family: 'YS Text';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 2px 0 0 0;
    margin: 0;
}