.main-page {
    padding: 0 0 0 0;
}

.main-page-panel {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 35px 0 0 0;
}

.main-page-panel__container__content_search {
    display: flex;
    align-items: center;
}

.main-page-panel__container__content_mailing {
    display: flex;
    align-items: center;
}

.filter-container {
    padding: 23px 0 0 0;
}