.main-page {
    padding: 0 0 0 0;
}

.main-page-panel {
    padding: 116px 32px 0 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-page-panel__container__content_search {
    display: flex;
    align-items: center;
}

.main-page-panel__container__content_mailing {
    display: flex;
    align-items: center;
}

.filter-container {
    padding: 20px 33px 0 98px;
}