@import '../../../../styles/variables';
@import '../../../../styles/typography';

$caretImg: '../../assets/arrow_down.svg';
$caretImgWhite: '../../assets/arrow_down_white.svg';

.dropdown-btn {
  position: relative;
  display: inline-block;
  margin-top: 5px;

  .dropdown-btn__button {
    padding: 9px 15px;
    font-family: $font-body2-medium;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: $color-blue-main;
    background-color: $color-white;
    border: 1px solid $color-blue-main;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: background-color 0.3s, color 0.3s, border 0.3s;

    .dropdown-btn__caret {
      background-image: url($caretImg);
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-left: 9px;
      transition: background-image 0.3s;
    }

    &:hover, &:focus {
      background-color: $color-blue-main;
      color: $color-white;
      border: 1px solid $color-blue;

      .dropdown-btn__caret {
        background-image: url($caretImgWhite);
      }
    }

    &:not(.active):hover, &:not(.active):focus {
      // Стили для состояния hover и focus, применяемые только когда кнопка не активна (выпадающий список закрыт)
      background-color: $color-blue-main;
      color: $color-white;
      border: 1px solid $color-blue;

      .dropdown-btn__caret {
        background-image: url($caretImgWhite);
      }
    }

    &.active {
      background-color: $color-blue;
      color: $color-white;
      border: 1px solid $color-blue;

      .dropdown-btn__caret {
        background-image: url($caretImgWhite);
      }
    }
  }

  .dropdown-btn__content {
    display: none;
    position: absolute;
    background-color: $color-white;
    min-width: 100%;
    box-shadow: 0px 4px 6px rgba(176, 190, 197, 0.3);
    z-index: 1;
    box-sizing: border-box;
    border: 1px solid $color-black-300;
    border-radius: 4px;
    top: 100%;
    left: 0;
    right: 0;
    font-family: $font-body2-regular;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: $color-black-900;
    max-height: 216px;
    overflow-y: auto;

    .dropdown-btn__item {
      padding: 8px 10px;
      text-decoration: none;
      display: block;
      color: $color-black-900;

      &:hover {
        background-color: $color-blue-bg;
      }
    }
  }

  &:hover .dropdown-btn__content, &:focus-within .dropdown-btn__content {
    display: block;
  }
}
