@import '../../styles/variables';
@import '../../styles/typography';

.ambassador__info-table {
    width: 535px;
}

.ambassador__table-container {
    display: flex;
    flex-direction: column;
    width: 535px;
}

.ambassador__table-row {
    display: flex;
    font-family: $font-body2-regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    gap: 8px;
}

.ambassador__table-label {
    color: $color-black-500;
    width: 151px;
}

.ambassador__table-value {
    color: $color-black-900;
    width: 376px;
}