// Variables
$label-text-color: #797981;
$text-color: #1A1B22;

.ambassador__info-table {
    width: 535px;
}

.ambassador__table-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ambassador__table-row {
    display: flex;
    font-family: 'YS-Text-Regular', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    gap: 8px;
}

.ambassador__table-label {
    color: $label-text-color;
    width: 151px;
}

.ambassador__table-value {
    color: $text-color;
    width: 376px;
}