// Variables
$block-bg-color: #FFFFFF;
$status-active: #C2E5CE;
$text-color: #1A1B22;


.ambassador__info-container {
    width: calc(868px - (24px*2));
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}

.ambassador__info {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: $block-bg-color;
    padding: 24px;
    border: 1px solid #F9FAFB;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: 0px 4px 16.1px 0px rgba(176, 190, 197, 0.3019607843);
}

.ambassador__status-btn.ambassador__status-btn {
    background-color: $status-active;
    width: 202px;
    border: none;
    color: $text-color;
    background-image: url('../../assets/AmbassadorsPage/Vector.svg');
    background-repeat: no-repeat;
    background-position: 87% center;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: darken($status-active, 10%);
      border: none;
      color: $text-color;
    }
  
    &:focus {
      outline: none;
    }

    &:active {
        background-color: $status-active;
        color: $text-color;
        border: none;
        .dropdown-item{
            background-color: $status-active;
            border: none;
            color: $text-color;
        }
  }
}

.dropdown.dropdown-btn.caret{
    background-image: none;
}

.ambassador__comment {
  margin: 0;
  padding: 0;
}