@import '../../styles/typography.scss';

.ambassador-page__contacts {
    font-family: $font-h3-medium;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    width: 178px;
    align-self: baseline;
}