@import '../../shared/variables.scss';
@import '../../styles/variables.scss';
@import '../../styles/typography.scss';
@import '../../shared/mixins.scss';

.ambassador-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $color-grey;
    color: $color-black-900;
}

.ambassador-page__nav {
    margin-top: 31px;
    width: calc(1312px - (20px*2));
    display: flex;
    justify-content: space-between;
}

.go-back-button {
    width: fit-content;
    display: flex;
    gap: 8px;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: $font-body2-regular;
    font-size: 18px;
    font-weight: $font-weight-normal;
    line-height: 24px;
    text-align: center;
    color: $color-black-900;
    cursor: pointer;
}

.ambassador-page__edit-button {
    @include bordered-button-style($bordered-button);
    width: 156px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0;
}

.ambassador-page__content {
    display: flex;
    width: 1376px;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

.ambassador-page__data {
    width: calc(424px - (24px*2));
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border: 1px solid $color-grey;
    background-color: $color-white;
    @include border-radius(12px);
    box-shadow: 0px 4px 16.1px 0px $color-shadow;
}

.ambassador-page__info-form {
    display: flex;
    flex-direction: column;
}

.ambassador-page__name {
    font-family: $font-h3-medium;
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: $font-weight-regular;
    line-height: 32px;
}

.ambassador-page__position {
    padding-top: 16px;
    margin: 0;
    font-size: 16px;
    font-weight: $font-weight-normal;
    line-height: 20px;
}

.ambassador-page__contacts-list {
    list-style: none;
    margin: 24px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 21px;
} 

.ambassador-page__contacts-item {
    font-family: 'YS-Text-Regular', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: $font-weight-normal;
    line-height: 19px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.ambassador-page__icon {
    width: 24px;
    height: 24px;
}

.edit {
    width: 20px;
    height: 20px;
}

.ambassador-page__contacts-link {
    color: $color-black-900;
    text-decoration: none;
    border-bottom: 1px solid;
    cursor: pointer;
}

.ambassador-page__contact-button {
    @include blue-button-style($blue-button);
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0;
    font-size: 18px;
    font-weight: $font-weight-regular;
    line-height: 24px;
}

.ambassador-page__button-container {
    display: flex;
    gap: 16px;
    height: 40px;
}

.has-gap {
    gap: 16px;
}

.ambassador-page__decline-button {
    height: 100%;
    width: 156px;
    background-color: transparent;
    border: 1px solid $color-blue-main;
    @include border-radius(6px);
    color: $color-blue-main;
    font-size: 14px;
    font-weight: $font-weight-regular;
    line-height: 20px;
    cursor: pointer;
}

.ambassador-page__save-button {
    @include blue-button-style($blue-button);
    height: 100%;
    width: 156px;
    @include border-radius(6px);
    font-size: 14px;
    font-weight: $font-weight-regular;
    line-height: 20px;
}

.select-education {
    position: relative;
}

.select-option:checked {
    position: absolute;
    background-color: $color-blue;
}