@import '../../styles/typography';
@import '../../styles/variables';

.checked-students {
    font-family: $font-caption-regular;
    font-size: 13px;
    line-height: 16px;
    color: $color-black-500;
    font-weight: 400;
    padding: 32px 0 0 0;
    display: flex;
    margin: 0;
    width: max-content;
}