@import '../../styles/variables';

.footer {
    position: relative;
    display: flex;
    min-height: 80px;
    align-items: center;
}

.paginator {
    position: absolute;
    bottom: 0;
    background-color: $color-white;
    margin-left: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $color-black-100;
    width: 100%;
    min-height: 80px;
    align-items: center;
}

.paginator__column-button {
    display: flex;
    height: min-content;
}

.page-buttons-wrap {
    display: flex;
    align-items: center;
    height: min-content;
    margin-top: 5px;
}