.footer {
    background-color: red;
    margin-left: 64px;
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
}

/* 
.pagination_dropdown {
    background-color: aquamarine;
    color: violet;
} */